@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");


#logo {
  display: block;
  margin: 70px auto 50px;
  background: url("/img/logo-llb.svg") center;
  background-size: 50px;
  height: 50px;
  width: 50px;
}

h1.header {
  font-family: "Times New Roman";
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
  margin-bottom: 20px;
}

p.description {
  font-family: "Times New Roman";
  font-size: 20px;
  font-style: italic;
  text-align: center;
}

.mt-10 {
  margin-top: 100px;
}

#loading-spinner {
  display: block;
  margin: 0 auto 70px;
}
button.clear-chapters-input-button {
  background-color: unset;
  color: #343a40;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-left: unset;
  /* padding-left: 3px; */
}
button.clear-chapters-input-button:hover {
  background-color: unset;
  color: black;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-left: unset;
}
button.clear-chapters-input-button:active {
  background-color: unset !important;
  color: black !important;
  border: var(--bs-border-width) solid var(--bs-border-color) !important;
  border-left: unset !important;
}

html[data-bs-theme=dark] button.btn-dark {
  background-color: #424649;
  color: #fff;
}
html[data-bs-theme=dark] button.btn-dark:hover {
  background-color: #212529;
  color: #fff;
}
html[data-bs-theme=dark] #logo{
  background: url("/img/logo-llb-dark.svg") center;
  background-size: 50px;
}


footer {
  /* height: 250px; */
  text-align: center;
  margin-top: 20px;
  font-size: 12px;
  background-color: #FAFAFA;
  padding: 50px;
}
html[data-bs-theme=dark] footer {
  background-color: #1e2124;
}
footer .sources {
  font-size: 12px;
}
footer a {
  color: gray;
}
footer a.discreet {
  text-decoration: none;
  font-size: 15px;
}


