.lexicon {
  font-family: 'Times New Roman', serif;
  font-size: 20px;
  width: 95%;
  margin: auto;
  display: table;
  padding: 0;
}
h1.lexiconTitle {
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 12px;
  text-align: center;
  margin-bottom: -5px;
  hyphens: auto;
  -webkit-hyphens: auto;
  overflow-wrap: anywhere;
  /* word-break: break-all; */
}
h2.lexiconSubTitle {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
}
h3.chapterHeading {
  font-style: italic;
}

p.lexiconFreq {
  font-size: 16px;
  font-style: italic;
  text-align: center;
  margin: 20px 0;
}

div.wordEntry {
  white-space: nowrap;
  display: table-row;
}
div.wordEntry div {
  display: table-cell;
  white-space: normal;
  padding: 0 2px;
  /* border: 1px solid black; */
  word-break: normal;
}
div.verseNb {
  width: 30px;
  text-align: right;
}
div.lexOT {
  min-width: 80px;
  /* margin-left: 10px; */
  font-size: 25px;
  direction: rtl;
}
span.lex {
  font-family: "Times New Roman";
}

div.lexNT {
  min-width: 100px;
  font-weight: bold;
  margin-left: 10px;
}
div.lexOT span:hover, div.lexNT span:hover {
  cursor: pointer;
  background-color: #fff3cd;
}
div.freq {
  width: 35px;
  font-size: 16px;
}

.chapterHeading {
  font-size: 18px;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin: 20px 0 10px;
  text-align: center;
}

.verseNb {
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  vertical-align: super;
  font-size: 13px;
  margin-top: 5px;
}
