div.lexicon {
  font-family: 'Times New Roman', serif;
  font-size: 20px;
  width: 80%;
  margin: auto;
  display: table;
}
h1.lexiconTitle {
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 12px;
  text-align: center;
  margin-bottom: -5px;
}
h2.lexiconSubTitle {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
}
p.lexiconFreq {
  font-size: 16px;
  font-style: italic;
  text-align: center;
}

div.wordEntry {
  white-space: nowrap;
  display: table-row;
}
div.wordEntry div {
  display: table-cell;
  white-space: normal;
  padding: 0 2px;
}
div.verseNb {
  width: 20px;
}
div.lexOT {
  min-width: 120px;
  font-size: 25px;
  direction: rtl;
}
div.lexNT {
  min-width: 120px;
  font-weight: bold;
  /* font-size: 25px; */
}
div.freq {
  width: 50px;
}

.chapterHeading {
  font-size: 18px;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin: 20px 0 10px;
  text-align: center;
}

.verseNb {
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  vertical-align: super;
  font-size: 15px;
  margin-top: 5px;
}
